@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    --brand-bg: #141414;
    --brand-bg-light: #323232;
    --brand-text: #efefef;
    --brand-highlight: #e50914;

    --brand-font: "Open Sans", Calibri, "Trebuchet MS", sans-serif;

    --ui-block-height: 36px;

    background: var(--brand-bg);
    color: var(--brand-text);
    font-family: var(--brand-font);
}

#header {
    display: block;
    margin: 15px 5px 30px 5px;
    width: 100px;
    text-align: center;
}

.main-content {
    display: block;
    width: 1280px;
    margin: 0 auto;
}

.selector {
    display: flex;
    width: 100%;
}

.episode-picker,
.episode-picker-confirm {
    background: var(--brand-bg-light);
    border: 3px solid var(--brand-bg-light);
    color: var(--brand-text);
    font-size: 18px;
    line-height: var(--ui-block-height);
}

.episode-picker {
    flex: 8;
    width: 100%;
    margin-right: var(--ui-block-height);
}

.episode-picker-confirm {
    flex: 1;
}

#player {
    display: block;
}